:root{
    --brown: #996633;
}
/*
*{
    border : solid black 1px; 

}*/



body{  /*precision corp de page*/
    margin: 0px;
    background-color: var(--brown);
}
 
#banniere { /* caracteristique banniere */
    position: relative;
    display: flex;
    background-image:url(image/coffee_large.png);
    background-size:cover;
    height: 70vh;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    flex-direction: column;
}

#banniere h1, #banniere h4{ /*espace marque et slogan*/
    margin: 0px;
    padding: 0px;
}

#banniere h4{ /*slogan precision*/
    font-family: "Italianno", sans-serif;
}

#les_pages{  /*align et espace des 3 categories*/
    display: flex;
    gap: 40px;
    text-shadow: 3px 3px black;
 }


#banniere img{ /* caracteristique logo*/
    position: absolute;
    left: 20px;
    width: 140px;
    top: 25px;
}

a{ /* caracteristique 3 categories*/
    font-size: 35px; 
    color: white;
    /*text-decoration: none;*/
}        

/*
.texte1 {
    color: #ff9933;
}*/

/*zone 1*/

.cafe_voyage{    /* photo et premier paragraphe*/
    display: flex;
    flex-direction: row;
    gap:50px;
    padding:50px;

}    

#taille{  /*taille image premiere zone*/
    height: 250px;
    width: 380px;
    padding-bottom: -50px;
}

.text{ /* caracteristique premier paragraphe*/
    text-align: justify ;
    font-size: 20px;
}

/*zone 2 */

.cafe_histoire{ /*zone 2 avec 2 paragraphe*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    gap: 30px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color:#703d0a;
   
    
}

.AG{ /* aligne les deux zone de texte de la zone2*/
    display: flex;
    flex-direction: column;
    
}

#espace{ /* margin autour des titre de la zone 2*/
    margin: 0px;
    padding-bottom: 15px;
}

#esp{ /* espace et taille des texe de la zone 2*/
    margin: 0px;
    font-size: 20px;
    text-align: justify;
}


#cafe_suite{ /*aligne les deux texte deja en column avec l'image a doite*/
    display: flex;
    flex-direction: row;
}


.GA{ /* zone 3 avec 2 paragraphe et une image*/
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 50px;
    gap: 30px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 20px;
    text-align: justify;
}


#image_reg{ /*caracteristique image*/ /*dernier reglage main*/
    padding-top:30px;
    padding-right: 30px;
    padding-bottom: 25px;
}

/*footer*/

.footer{ /* bas de page*/
    background-color: #703d0a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
}

.input{ /* zone de texte a remplir*/ 
    border-radius: 10px;
}
.textarea{ /* input mais en plus grand*/
    display: grid;
    grid-template-rows: auto;
    border-radius: 10px;
}

label { /*texte au dessus du input*/
    font-size: 20px;
    color: white;
    padding: 10px;
}

.contact{  /*centre les categorie de contact*/
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
}

.contact input, textarea{  /*formulaire de ctc*/
    border:none;
    width: 95%;
    background-color:#bb9e50;
    border-radius: 5px;
    margin-bottom: 10px;
   
}
textarea{   /*css de la zone message*/
    max-width: 415px;
    max-height: 150px;
    min-height: 80px;
    min-width: 150px;
}


#bouton{ /*css du bouton entrer*/
    width: 20%;
    background-color:#bb9e50 ;
    border-radius: 5px;
    border:none;
    padding: 10px;
    padding-top: 10px;

}
button:active{ /* effet css bouton diminue*/
    scale: 0.90;
}

.bas_de_page{/*carte*/
    text-align: center;
}


#baspage{ /*taille carte*/
    height: 250px;
    width: 300px;
}

/*zone a propos*/

.derniere_zone{  /*zone a propos a droite*/
        display: flex;
        flex-direction: column;
} 

#zonea{ /* titre a propos*/
    display: flex;
    align-items: center;
    justify-content: center;

}
/*
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

#image_fin{ /*petit logo mc*/
    display: flex;
    width: 70px;
    height: 70px;
    padding-right: 15px ;
    }

#zoneb{ /*logo mc et titre*/
    display: flex;
    flex-direction: row;
    margin: 0px;
    align-items: center;
 
}

#zonec{ /*email et numeor*/
    font-size: 20px;
    margin: 0px;
    color: black;
  
}



#reseau{   /*retrouvez nous ici*/
    display: flex;
    justify-content: center;

}

.logo{ /*reglage reseau logo*/
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 40px;
    gap: 20px;
    justify-content: center;
}