/*tete de page*/

body{
    background-color: #996633;
    margin: 0px;
    background-image: url(image/essaicafe.png) ;
}

.banniere{
    display: flex;
    flex-direction: row;
}



#logo{ /*agancement logo banniere*/
    display: flex;
    width: 130px;
    height: 130px;
    padding: 25px;
   
}

#moncafe{ /*agencement titre MC banniere*/
    display: flex;
    font-size: 55px;
    align-items: center;
    margin-bottom: 0px;
    color: white;
    text-shadow: 3px 3px black;
}

#lart{ /*caracteristique titre italique*/
    font-size: 50px;
    font-family: "Italianno", sans-serif;
    margin: 0px;
    padding-left: 55px;
    color: white;
    text-shadow: 3px 3px black;
}

.lespages{ /*caacteristique page*/
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 35px;
    position: relative;
    align-items: center;
    padding-left: 200px;
    text-shadow: 3px 3px black;

}

#clo{ /*couleur lien page*/
    color: white;
}


/* main */

#bande{ /*bande cafe caracteristique*/
    width: 1366px;
    height: 180px;
    padding-top: 0px;

}




#CSOON{
    display: flex;
    font-size: 60px;
    text-align: center;
    justify-content: center;
    color: white;
    text-shadow: 0px 0px 10px black;

}

#Cafe{
    padding-left: 30px ;
    font-size: 35px;
    color: white;
    text-shadow: 0px 0px 10px black;

}

.listea{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: justify;
    padding: 10px 30px 0px 50px;
    color: white ;
    margin-bottom: 0px;
    text-shadow: 0px 0px 10px black;

}

li{
    margin-bottom: 20px;
}


/*footer css */




/*footer*/

.footer{ /* bas de page*/
    background-color: #1f1313;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
}

.input{ /* zone de texte a remplir*/ 
    border-radius: 10px;
}
.textarea{ /* input mais en plus grand*/
    display: grid;
    grid-template-rows: auto;
    border-radius: 10px;
}

label { /*texte au dessus du input*/
    font-size: 20px;
    color: white;
    padding: 10px;
}

.contact{  /*centre les categorie de contact*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  
  
}

.contact input, textarea{  /*formulaire de ctc*/
    border:none;
    width: 95%;
    background-color:#ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
textarea{   /*css de la zone message*/
    max-width: 415px;
    max-height: 150px;
    min-height: 80px;
    min-width: 150px;
}


#bouton{ /*css du bouton entrer*/
    width: 20%;
    background-color:#ffffff ;
    border-radius: 5px;
    border:none;
    padding: 10px;
    padding-top: 10px;

}
button:active{ /* effet css bouton diminue*/
    scale: 0.90;
}

.bas_de_page{/*carte*/
    text-align: center;
    color: white;
}


#baspage{ /*taille carte*/
    height: 250px;
    width: 300px;
}

/*zone a propos*/

.derniere_zone{  /*zone a propos a droite*/
        display: flex;
        flex-direction: column;
} 

#zonea{ /* titre a propos*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
/*
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
*/


#image_fin{ /*petit logo mc*/
    display: flex;
    width: 70px;
    height: 70px;
    padding-right: 15px ;
    color: #ffffff;
    }

#zoneb{ /*logo mc et titre*/
    display: flex;
    flex-direction: row;
    margin: 0px;
    align-items: center;
 
}

#zonec{ /*email et numeor*/
    font-size: 20px;
    margin: 0px;
    color: rgb(255, 255, 255);
  
}



#reseau{   /*retrouvez nous ici*/
    display: flex;
    justify-content: center;
    color: white;
}

.hvd{
    color: white;
}
.logo{ /*reglage reseau logo*/
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 40px;
    gap: 20px;
    justify-content: center;
    color: #ffffff;
}






















/*
#titre{  alignement des 
    display: flex;
    flex-direction: column;
}*/